@import "range.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-gray-700 dark:text-gray-200;
}

p,
li,
th,
td,
dt,
dd,
label,
strong,
code,
summary,
.text-color {
  @apply text-gray-600 dark:text-gray-300;
}

a,
.button,
summary {
  @apply cursor-pointer;
}

a:not([class*="text-"]):not([data-no-style]):not(.button.primary),
a strong,
a code,
.text-link-strong {
  @apply text-red-500 hover:text-red-600 dark:text-red-600 hover:dark:text-red-700;
}

.text-link {
  @apply text-blue-500 hover:text-blue-600 dark:text-blue-600 hover:dark:text-blue-700;
}

.button {
  @apply inline-flex items-center justify-center px-4 py-2 border-2 border-red-500 dark:border-red-600 text-base font-medium rounded-full text-red-500 bg-white dark:bg-transparent dark:text-red-600 dark:hover:text-red-600 hover:bg-gray-50 dark:hover:bg-transparent hover:text-red-600  hover:border-red-600 dark:hover:border-red-700 text-center;
}
.button.tiny {
  @apply py-1 text-sm px-2;
}
.button.large {
  @apply px-8 py-3 md:py-4 md:text-lg md:px-10;
}
.button.primary {
  @apply text-white dark:text-red-50 dark:hover:text-red-100 bg-red-500 dark:bg-red-600 hover:bg-red-600  hover:border-red-600 hover:text-white;
}
.button.white {
  @apply !text-red-50 border-red-50 bg-transparent hover:bg-red-50 hover:border-red-50 hover:!text-red-600;
}
.button.white-bg {
  @apply hover:!text-red-50 hover:border-red-50 hover:bg-transparent bg-red-50 border-red-50 !text-red-600;
}

select {
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 20 20' width='24' height='24' aria-hidden='true' xmlns='http://www.w3.org/2000/svg'><path fill='%238fa5a8' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z'></path></svg>")
    no-repeat;
  background-position: right 5px top 50%;
}

.underline-curly {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' fill='none' width='102' height='11' viewBox='0 0 102 11'><path stroke='%23FF5B68' stroke-linecap='round' stroke-width='3' d='M2.5 8.5c25.5-9 63-7.5 97.5 0'/></svg>");
  background-size: 100%;
  background-position: center bottom 0;
  padding-bottom: 10px;
  background-repeat: no-repeat;
}

.dark .underline-curly {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' fill='none' width='102' height='11' viewBox='0 0 102 11'><path stroke='%23C12C33' stroke-linecap='round' stroke-width='3' d='M2.5 8.5c25.5-9 63-7.5 97.5 0'/></svg>");
}

@keyframes moveFrontForwards {
  0% {
    z-index: 0;
    transform: translateX(-10%) translateY(-20%);
    rotate: 1deg;
  }
  49% {
    z-index: 0;
    transform: translateX(-55%) translateY(-5%);
    rotate: 0deg;
  }
  50% {
    z-index: 10;
    transform: translateX(-55%) translateY(-5%);
    rotate: 0deg;
  }
  100% {
    z-index: 10;
    transform: translateX(10%) translateY(20%);
    rotate: -1deg;
  }
}
@keyframes moveBackForwards {
  0% {
    z-index: 10;
    transform: translateX(10%) translateY(20%);
    rotate: -1deg;
  }
  49% {
    z-index: 10;
    transform: translateX(55%) translateY(5%);
    rotate: 0deg;
  }
  50% {
    z-index: 0;
    transform: translateX(55%) translateY(5%);
    rotate: 0deg;
  }
  100% {
    z-index: 0;
    transform: translateX(-10%) translateY(-20%);
    rotate: 1deg;
  }
}
@keyframes moveFrontReverse {
  0% {
    z-index: 10;
    transform: translateX(10%) translateY(20%);
    rotate: -1deg;
  }
  49% {
    z-index: 10;
    transform: translateX(-55%) translateY(-5%);
    rotate: 0deg;
  }
  50% {
    z-index: 0;
    transform: translateX(-55%) translateY(-5%);
    rotate: 0deg;
  }
  100% {
    z-index: 0;
    transform: translateX(-10%) translateY(-20%);
    rotate: 1deg;
  }
}
@keyframes moveBackReverse {
  0% {
    z-index: 0;
    transform: translateX(-10%) translateY(-20%);
    rotate: 1deg;
  }
  49% {
    z-index: 0;
    transform: translateX(55%) translateY(5%);
    rotate: 0deg;
  }
  50% {
    z-index: 10;
    transform: translateX(55%) translateY(5%);
    rotate: 0deg;
  }
  100% {
    z-index: 10;
    transform: translateX(10%) translateY(20%);
    rotate: -1deg;
  }
}

[data-carousel] {
  display: block;
  position: relative;
  aspect-ratio: 615 / 404;
}
[data-carousel] img:first-of-type {
  animation: moveFrontForwards 750ms forwards;
}
[data-carousel] img:last-of-type {
  animation: moveBackForwards 750ms forwards;
}
[data-carousel].dark img:first-of-type {
  animation: moveFrontReverse 750ms;
}
[data-carousel].dark img:last-of-type {
  animation: moveBackReverse 750ms;
}

[data-carousel] img:first-of-type {
  transform: translateX(-10%) translateY(-20%);
  rotate: 1deg;
}
[data-carousel] img:last-of-type {
  transform: translateX(10%) translateY(20%);
  rotate: -1deg;
  position: absolute;
  top: 0;
}

.animated-background {
  background-image: radial-gradient(circle closest-side, #94bed0, #fcfcfc);
  background-size: 80% 300%;
  background-position: center top;
  background-repeat: no-repeat;
}
.dark .animated-background {
  background-image: radial-gradient(circle closest-side, #6b7d7f, #232e2f);
}

.gif {
  --text-color: #eef9ff;
  --background-color: var(--background-color, #415659);

  margin: 1rem auto;
  max-width: 500px;
  max-height: 300px;
  position: relative;
  border-radius: 10px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.gif.align-left {
  margin: 1rem 0;
}

.gif .loading {
  position: absolute;
  color: var(--text-color);
  z-index: 0;
}
.gif > img,
details img {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.gif > img,
details img {
  z-index: 1;
}

.gif img,
.gif details,
.gif summary {
  border-radius: 10px;
  color: var(--text-color);
  background-color: var(--background-color);
}

.gif summary {
  color: var(--text-color);
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 2;
  border-radius: 50%;
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%23415659' d='M12 2a10 10 0 1 0 0 20 10 10 0 0 0 0-20Zm-2 13.5v-7c0-.4.5-.7.8-.4l4.7 3.5c.2.2.2.6 0 .8l-4.7 3.5c-.3.2-.8 0-.8-.4Z'/%3E%3C/svg%3E");
}

.gif [open] summary {
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%23415659' d='M12 2a10 10 0 1 0 0 20 10 10 0 0 0 0-20Zm-2 14a1 1 0 0 1-1-1V9c0-.6.4-1 1-1s1 .4 1 1v6c0 .6-.4 1-1 1Zm4 0a1 1 0 0 1-1-1V9c0-.6.4-1 1-1s1 .4 1 1v6c0 .6-.4 1-1 1Z'/%3E%3C/svg%3E");
}

/* for blink/webkit */
.gif details summary::-webkit-details-marker {
  display: none;
}
/* for firefox */
.gif details > summary:first-of-type {
  list-style: none;
}

.gif summary:focus {
  box-shadow: 0 0 0 0.25rem #ff4f64;
  outline: transparent;
}

@media (hover: hover) {
  .gif [open] summary,
  .gif summary {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%23415659' fill-rule='evenodd' d='M12 22a10 10 0 1 0 0-20 10 10 0 0 0 0 20Zm-4.1-6.36c-.5 0-.95-.1-1.34-.32-.4-.22-.7-.54-.93-.96a3.2 3.2 0 0 1-.34-1.54v-1.64c0-.91.25-1.61.75-2.09.5-.49 1.18-.73 2.03-.73.84 0 1.49.23 1.94.69.45.45.68 1.06.68 1.83v.05H9.62v-.08c0-.29-.06-.54-.17-.77a1.27 1.27 0 0 0-.51-.55 1.7 1.7 0 0 0-.87-.2c-.53 0-.95.16-1.25.49-.3.32-.45.77-.45 1.34v1.68c0 .57.15 1.02.45 1.35.3.33.72.49 1.26.49.53 0 .92-.15 1.17-.44.25-.3.37-.67.37-1.14v-.13H7.74v-.93h2.95v3.46h-1v-.71h-.16c-.06.13-.15.26-.27.39-.11.13-.28.24-.5.33-.21.09-.5.13-.86.13Zm5.26-.14h-1.08v-7h1.08v7Zm5.78-7h-4.32v7h1.08v-3.02h2.98v-.98H15.7V9.48h3.24V8.5Z' clip-rule='evenodd'/%3E%3C/svg%3E");
  }
}

.stripe-badge {
  display: inline-block;
  background-color: #e1e3ee;
  border-radius: 3px;
}
.stripe-badge img {
  height: 18px;
  margin: 0px 8px 4px;
  display: inline-block;
  vertical-align: middle;
}

.footnotes {
  @apply text-gray-600 dark:text-gray-300 text-sm border-t-2 border-gray-300 leading-loose pt-4;
}
.footnotes p {
  @apply my-2;
}

.video-container.border {
  @apply border-gray-200 dark:border-none rounded-lg overflow-hidden;
}
.video-container.border-radius {
  @apply border-none rounded-lg overflow-hidden;
}

mark {
  background: linear-gradient(
    -100deg,
    rgba(127, 226, 242, 0.18),
    rgba(81, 207, 228, 0.38) 95%,
    rgba(230, 249, 252, 0.18)
  );
  border-radius: 1em 0;
  padding: 0.5rem;
}

input[type="checkbox"] {
  @apply h-4 w-4 rounded border-red-300 text-red-500 focus:ring-red-500 dark:ring-transparent dark:outline-none dark:border-none dark:text-red-600 dark:focus:ring-red-600 dark:bg-red-600;
}

input[type="radio"] {
  @apply h-4 w-4 border-red-300 text-red-500 focus:ring-red-500 dark:ring-transparent dark:outline-none dark:border-none dark:text-red-600 dark:focus:ring-red-600 dark:bg-red-600 ring-offset-white dark:ring-offset-gray-700;
}

select,
input[type="email"],
input[type="text"],
input[type="password"],
input[type="search"] {
  @apply block w-full px-3 py-2 border border-gray-300 dark:border-gray-700 rounded-md shadow-sm focus:ring-red-500 focus:border-red-500 dark:focus:ring-red-600 dark:focus:border-red-600 dark:bg-gray-700 dark:text-gray-200;
}

.input {
  @apply px-3 py-2 border border-gray-300 dark:border-gray-700 rounded-md shadow-sm focus:ring-red-500 focus:border-red-500 dark:focus:ring-red-600 dark:focus:border-red-600 dark:bg-gray-700 dark:text-gray-200;
}

.text-error {
  @apply text-red-500 dark:text-red-600;
}

article.counters {
  counter-reset: h2counter;
}
article.counters h2 {
  counter-reset: h3counter h4counter h5counter;
}
article.counters h2::before {
  counter-increment: h2counter;
  content: counters(h2counter, ".", decimal) ". ";
}

article.counters h3 {
  counter-reset: h4counter h5counter;
}
article.counters h3::before {
  counter-increment: h3counter;
  content: counters(h2counter, ".", decimal) "."
    counters(h3counter, ".", decimal) ". ";
}

article.counters h4 {
  counter-reset: h5counter;
}
article.counters h4::before {
  counter-increment: h4counter;
  content: counters(h2counter, ".", decimal) "."
    counters(h3counter, ".", decimal) "." counters(h4counter, ".", decimal) ". ";
}

article.counters h5::before {
  counter-increment: h5counter;
  content: counters(h2counter, ".", decimal) "."
    counters(h3counter, ".", decimal) "." counters(h4counter, ".", decimal) "."
    counters(h5counter, ".", decimal) ". ";
}

ol.counters {
  counter-reset: level1;
  list-style-type: none !important;
}

ol.counters ol {
  list-style-type: none !important;
}

ol.counters li::before {
  content: counters(level1, ".") ". ";
  counter-increment: level1;
}

ol.counters ol {
  counter-reset: level2;
}

ol.counters ol li::before {
  content: counters(level1, ".") "." counters(level2, ".") ". ";
  counter-increment: level2;
}

ol.counters ol ol {
  counter-reset: level3;
}

ol.counters ol ol li::before {
  content: counters(level1, ".") "." counters(level2, ".") "."
    counters(level3, ".") ". ";
  counter-increment: level3;
}

ol.counters ol ol ol {
  counter-reset: level4;
}

ol.counters ol ol ol li::before {
  content: counters(level1, ".") "." counters(level2, ".") "."
    counters(level3, ".") "." counters(level4, ".") ". ";
  counter-increment: level4;
}

ol.counters ol ol ol ol {
  counter-reset: level5;
}

ol.counters ol ol ol ol li::before {
  content: counters(level1, ".") "." counters(level2, ".") "."
    counters(level3, ".") "." counters(level4, ".") "." counters(level5, ".")
    ". ";
  counter-increment: level5;
}

article table td img {
  margin: 0 !important;
}

article p img + em {
  @apply text-center block -mt-6;
}
article div[data-gif] + em,
article div[data-video] + em {
  @apply text-center block mt-2;
}

article details + details {
  @apply mt-4;
}

article details {
  @apply bg-gray-100 dark:bg-gray-700 rounded-lg p-4;
}

article blockquote.warning {
  @apply rounded-tr-xl rounded-br-xl bg-orange-100 dark:bg-yellow-900 border-l-4 border-yellow-500 dark:border-yellow-500 text-yellow-700 dark:text-yellow-300 py-1 px-2;
}
article blockquote.warning p {
  @apply my-1 mx-2 before:content-none after:content-none;
}

:root {
  --hljs-comment: #6a737d;
  --hljs-attr: #005cc5;
  --hljs-variable: #e36209;
  --hljs-params: #24292e;
  --hljs-function: #6f42c1;
  --hljs-class: #22863a;
  --hljs-keyword: #d73a49;
  --hljs-string: #032f62;
  --hljs-regexp: #032f62;
  --hljs-symbol: #005cc5;
  --hljs-bullet: #e36209;
  --hljs-section: #005cc5;
  --hljs-name: #22863a;
  --hljs-emphasis: #e36209;
  --hljs-strong: #e36209;
  --hljs-deletion-color: #b31d28;
  --hljs-deletion-bg: #ffeef0;
  --hljs-addition-color: #22863a;
  --hljs-addition-bg: #f0fff4;
  --hljs-link: #032f62;
}

.dark {
  --hljs-comment: #768390;
  --hljs-attr: #6cb6ff;
  --hljs-variable: #f69d50;
  --hljs-params: #cdd9e5;
  --hljs-function: #dcbdfb;
  --hljs-class: #8ddb8c;
  --hljs-keyword: #f47067;
  --hljs-string: #96d0ff;
  --hljs-regexp: #96d0ff;
  --hljs-symbol: #6cb6ff;
  --hljs-bullet: #f69d50;
  --hljs-section: #6cb6ff;
  --hljs-name: #8ddb8c;
  --hljs-emphasis: #f69d50;
  --hljs-strong: #f69d50;
  --hljs-deletion-color: #ff938a;
  --hljs-deletion-bg: #78191b;
  --hljs-addition-color: #8ddb8c;
  --hljs-addition-bg: #113417;
  --hljs-link: #96d0ff;
}

.hljs-comment,
.hljs-punctuation {
  color: var(--hljs-comment);
}

.hljs-attr,
.hljs-attribute,
.hljs-meta,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  color: var(--hljs-attr);
}

.hljs-variable,
.hljs-literal,
.hljs-number,
.hljs-doctag {
  color: var(--hljs-variable);
}

.hljs-params {
  color: var(--hljs-params);
}

.hljs-function {
  color: var(--hljs-function);
}

.hljs-class,
.hljs-tag,
.hljs-title,
.hljs-built_in {
  color: var(--hljs-class);
}

.hljs-keyword,
.hljs-type,
.hljs-builtin-name,
.hljs-meta-keyword,
.hljs-template-tag,
.hljs-template-variable {
  color: var(--hljs-keyword);
}

.hljs-string,
.hljs-undefined {
  color: var(--hljs-string);
}

.hljs-regexp {
  color: var(--hljs-regexp);
}

.hljs-symbol {
  color: var(--hljs-symbol);
}

.hljs-bullet {
  color: var(--hljs-bullet);
}

.hljs-section {
  color: var(--hljs-section);
  font-weight: bold;
}

.hljs-quote,
.hljs-name,
.hljs-selector-tag,
.hljs-selector-pseudo {
  color: var(--hljs-name);
}

.hljs-emphasis {
  color: var(--hljs-emphasis);
  font-style: italic;
}

.hljs-strong {
  color: var(--hljs-strong);
  font-weight: bold;
}

.hljs-deletion {
  color: var(--hljs-deletion-color);
  background-color: var(--hljs-deletion-bg);
}

.hljs-addition {
  color: var(--hljs-addition-color);
  background-color: var(--hljs-addition-bg);
}

.hljs-link {
  color: var(--hljs-link);
  font-style: underline;
}

#custom-tables tr:nth-child(even) {
  @apply bg-[#F3F9FB] dark:bg-[#2a373a];
}

.woot-widget-bubble {
  transition:
    transform 300ms ease,
    opacity 100ms ease,
    visibility 0ms linear 0ms,
    bottom 150ms ease 0ms !important;
}

.woot-widget-bubble.woot-widget--expanded {
  @apply !bottom-6;
}

html.show-bottom-banner .woot-widget-bubble {
  @apply !bottom-20;
}

@media only screen and (min-width: 667px) {
  .woot-widget-holder {
    transform: scale(0.9) !important;
    transform-origin: bottom right !important;
  }
}
