@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-gray-700 dark:text-gray-200;
}

p,
li,
th,
td {
  @apply text-gray-600 dark:text-gray-300;
}

a,
.button {
  @apply cursor-pointer select-none;
}

a:not([class*="text-"]) {
  @apply text-red-500 hover-hover:hover:text-red-600 dark:text-red-600 hover-hover:hover:dark:text-red-700;
}

.button {
  @apply inline-flex items-center justify-center px-4 py-2 border-2 border-red-500 dark:border-red-600 text-base font-medium rounded-full text-red-500 bg-white dark:bg-transparent dark:text-red-600 dark:hover-hover:hover:text-red-600 hover-hover:hover:bg-gray-50 dark:hover-hover:hover:bg-transparent hover-hover:hover:text-red-600  hover-hover:hover:border-red-600 dark:hover-hover:hover:border-red-700;
}
.button.tiny {
  @apply py-1 text-sm px-2;
}
.button.large {
  @apply px-8 py-3 md:py-4 md:text-lg md:px-10;
}
.button.primary {
  @apply text-white dark:text-red-50 dark:hover-hover:hover:text-red-100 bg-red-500 dark:bg-red-600 hover-hover:hover:bg-red-600  hover-hover:hover:border-red-600 hover-hover:hover:text-white;
}

select {
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 20 20' width='24' height='24' aria-hidden='true' xmlns='http://www.w3.org/2000/svg'><path fill='%238fa5a8' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z'></path></svg>")
    no-repeat;
  background-position: right 5px top 50%;
}

.underline-curly {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' fill='none' width='102' height='11' viewBox='0 0 102 11'><path stroke='%23FF5B68' stroke-linecap='round' stroke-width='3' d='M2.5 8.5c25.5-9 63-7.5 97.5 0'/></svg>");
  background-size: 100%;
  background-position: center bottom 0;
  padding-bottom: 10px;
  background-repeat: no-repeat;
}

.dark .underline-curly {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' fill='none' width='102' height='11' viewBox='0 0 102 11'><path stroke='%23C12C33' stroke-linecap='round' stroke-width='3' d='M2.5 8.5c25.5-9 63-7.5 97.5 0'/></svg>");
}

@keyframes moveFrontForwards {
  0% {
    z-index: 0;
    transform: translateX(-10%) translateY(-20%);
    rotate: 1deg;
  }
  49% {
    z-index: 0;
    transform: translateX(-55%) translateY(-5%);
    rotate: 0deg;
  }
  50% {
    z-index: 10;
    transform: translateX(-55%) translateY(-5%);
    rotate: 0deg;
  }
  100% {
    z-index: 10;
    transform: translateX(10%) translateY(20%);
    rotate: -1deg;
  }
}
@keyframes moveBackForwards {
  0% {
    z-index: 10;
    transform: translateX(10%) translateY(20%);
    rotate: -1deg;
  }
  49% {
    z-index: 10;
    transform: translateX(55%) translateY(5%);
    rotate: 0deg;
  }
  50% {
    z-index: 0;
    transform: translateX(55%) translateY(5%);
    rotate: 0deg;
  }
  100% {
    z-index: 0;
    transform: translateX(-10%) translateY(-20%);
    rotate: 1deg;
  }
}
@keyframes moveFrontReverse {
  0% {
    z-index: 10;
    transform: translateX(10%) translateY(20%);
    rotate: -1deg;
  }
  49% {
    z-index: 10;
    transform: translateX(-55%) translateY(-5%);
    rotate: 0deg;
  }
  50% {
    z-index: 0;
    transform: translateX(-55%) translateY(-5%);
    rotate: 0deg;
  }
  100% {
    z-index: 0;
    transform: translateX(-10%) translateY(-20%);
    rotate: 1deg;
  }
}
@keyframes moveBackReverse {
  0% {
    z-index: 0;
    transform: translateX(-10%) translateY(-20%);
    rotate: 1deg;
  }
  49% {
    z-index: 0;
    transform: translateX(55%) translateY(5%);
    rotate: 0deg;
  }
  50% {
    z-index: 10;
    transform: translateX(55%) translateY(5%);
    rotate: 0deg;
  }
  100% {
    z-index: 10;
    transform: translateX(10%) translateY(20%);
    rotate: -1deg;
  }
}

[data-carousel] {
  display: block;
  position: relative;
  aspect-ratio: 615 / 404;
}
[data-carousel] img:first-of-type {
  animation: moveFrontForwards 750ms forwards;
}
[data-carousel] img:last-of-type {
  animation: moveBackForwards 750ms forwards;
}
[data-carousel].dark img:first-of-type {
  animation: moveFrontReverse 750ms;
}
[data-carousel].dark img:last-of-type {
  animation: moveBackReverse 750ms;
}

[data-carousel] img:first-of-type {
  transform: translateX(-10%) translateY(-20%);
  rotate: 1deg;
}
[data-carousel] img:last-of-type {
  transform: translateX(10%) translateY(20%);
  rotate: -1deg;
  position: absolute;
  top: 0;
}

.animated-background {
  background-image: radial-gradient(circle closest-side, #94bed0, #fcfcfc);
  background-size: 80% 300%;
  background-position: center top;
  background-repeat: no-repeat;
}
.dark .animated-background {
  background-image: radial-gradient(circle closest-side, #6b7d7f, #232e2f);
}

.gif {
  --text-color: #eef9ff;
  --background-color: var(--background-color, #415659);

  margin: 1rem auto;
  max-width: 500px;
  max-height: 300px;
  position: relative;
  border-radius: 10px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.gif.align-left {
  margin: 1rem 0;
}

.gif .loading {
  position: absolute;
  color: var(--text-color);
  z-index: 0;
}
.gif > img,
details img {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.gif > img,
details img {
  z-index: 1;
}

.gif img,
.gif details,
.gif summary {
  border-radius: 10px;
  color: var(--text-color);
  background-color: var(--background-color);
}

.gif summary {
  color: var(--text-color);
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 2;
  border-radius: 50%;
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%23415659' d='M12 2a10 10 0 1 0 0 20 10 10 0 0 0 0-20Zm-2 13.5v-7c0-.4.5-.7.8-.4l4.7 3.5c.2.2.2.6 0 .8l-4.7 3.5c-.3.2-.8 0-.8-.4Z'/%3E%3C/svg%3E");
}

.gif [open] summary {
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%23415659' d='M12 2a10 10 0 1 0 0 20 10 10 0 0 0 0-20Zm-2 14a1 1 0 0 1-1-1V9c0-.6.4-1 1-1s1 .4 1 1v6c0 .6-.4 1-1 1Zm4 0a1 1 0 0 1-1-1V9c0-.6.4-1 1-1s1 .4 1 1v6c0 .6-.4 1-1 1Z'/%3E%3C/svg%3E");
}

/* for blink/webkit */
.gif details summary::-webkit-details-marker {
  display: none;
}
/* for firefox */
.gif details > summary:first-of-type {
  list-style: none;
}

.gif summary:focus {
  box-shadow: 0 0 0 0.25rem #ff4f64;
  outline: transparent;
}

@media (hover: hover) {
  .gif [open] summary,
  .gif summary {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%23415659' fill-rule='evenodd' d='M12 22a10 10 0 1 0 0-20 10 10 0 0 0 0 20Zm-4.1-6.36c-.5 0-.95-.1-1.34-.32-.4-.22-.7-.54-.93-.96a3.2 3.2 0 0 1-.34-1.54v-1.64c0-.91.25-1.61.75-2.09.5-.49 1.18-.73 2.03-.73.84 0 1.49.23 1.94.69.45.45.68 1.06.68 1.83v.05H9.62v-.08c0-.29-.06-.54-.17-.77a1.27 1.27 0 0 0-.51-.55 1.7 1.7 0 0 0-.87-.2c-.53 0-.95.16-1.25.49-.3.32-.45.77-.45 1.34v1.68c0 .57.15 1.02.45 1.35.3.33.72.49 1.26.49.53 0 .92-.15 1.17-.44.25-.3.37-.67.37-1.14v-.13H7.74v-.93h2.95v3.46h-1v-.71h-.16c-.06.13-.15.26-.27.39-.11.13-.28.24-.5.33-.21.09-.5.13-.86.13Zm5.26-.14h-1.08v-7h1.08v7Zm5.78-7h-4.32v7h1.08v-3.02h2.98v-.98H15.7V9.48h3.24V8.5Z' clip-rule='evenodd'/%3E%3C/svg%3E");
  }
}

.stripe-badge {
  display: inline-block;
  background-color: #e1e3ee;
  border-radius: 3px;
}
.stripe-badge img {
  height: 18px;
  margin: 0px 8px 4px;
  display: inline-block;
  vertical-align: middle;
}

.footnotes {
  @apply text-gray-600 dark:text-gray-300 text-sm border-t-2 border-gray-300 leading-loose pt-4;
}
.footnotes p {
  @apply my-2;
}

.video-container.border {
  @apply border-gray-200 dark:border-none rounded-lg overflow-hidden;
}
.video-container.border-radius {
  @apply border-none rounded-lg overflow-hidden;
}
