@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-gray-600 dark:text-gray-300;
}

p,
li,
th,
td {
  @apply text-gray-500 dark:text-gray-400;
}

a,
.button {
  @apply cursor-pointer select-none;
}

a:not([class*="text-"]) {
  @apply text-red-500 hover-hover:hover:text-red-600 dark:text-red-600 hover-hover:hover:dark:text-red-700;
}

.button {
  @apply inline-flex items-center justify-center px-4 py-2 border-2 border-red-500 dark:border-red-600 text-base font-medium rounded-full text-red-500 bg-white dark:bg-transparent dark:text-red-600 dark:hover-hover:hover:text-red-600 hover-hover:hover:bg-gray-50 hover-hover:hover:text-red-600  hover-hover:hover:border-red-600;
}
.button.tiny {
  @apply py-1 text-sm px-2;
}
.button.large {
  @apply px-8 py-3 md:py-4 md:text-lg md:px-10;
}
.button.primary {
  @apply text-white dark:text-red-50 dark:hover-hover:hover:text-red-100 bg-red-500 dark:bg-red-600 hover-hover:hover:bg-red-600  hover-hover:hover:border-red-600 hover-hover:hover:text-white;
}

select {
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 20 20' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><path fill='%238fa5a8' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z'></path></svg>")
    no-repeat;
  background-position: right 5px top 50%;
}

@keyframes moveFrontForwards {
  0% {
    z-index: 0;
    transform: translateX(-10%) translateY(-20%);
    rotate: 1deg;
  }
  49% {
    z-index: 0;
    transform: translateX(-55%) translateY(-5%);
    rotate: 0deg;
  }
  50% {
    z-index: 10;
    transform: translateX(-55%) translateY(-5%);
    rotate: 0deg;
  }
  100% {
    z-index: 10;
    transform: translateX(10%) translateY(20%);
    rotate: -1deg;
  }
}
@keyframes moveBackForwards {
  0% {
    z-index: 10;
    transform: translateX(10%) translateY(20%);
    rotate: -1deg;
  }
  49% {
    z-index: 10;
    transform: translateX(55%) translateY(5%);
    rotate: 0deg;
  }
  50% {
    z-index: 0;
    transform: translateX(55%) translateY(5%);
    rotate: 0deg;
  }
  100% {
    z-index: 0;
    transform: translateX(-10%) translateY(-20%);
    rotate: 1deg;
  }
}
@keyframes moveFrontReverse {
  0% {
    z-index: 10;
    transform: translateX(10%) translateY(20%);
    rotate: -1deg;
  }
  49% {
    z-index: 10;
    transform: translateX(-55%) translateY(-5%);
    rotate: 0deg;
  }
  50% {
    z-index: 0;
    transform: translateX(-55%) translateY(-5%);
    rotate: 0deg;
  }
  100% {
    z-index: 0;
    transform: translateX(-10%) translateY(-20%);
    rotate: 1deg;
  }
}
@keyframes moveBackReverse {
  0% {
    z-index: 0;
    transform: translateX(-10%) translateY(-20%);
    rotate: 1deg;
  }
  49% {
    z-index: 0;
    transform: translateX(55%) translateY(5%);
    rotate: 0deg;
  }
  50% {
    z-index: 10;
    transform: translateX(55%) translateY(5%);
    rotate: 0deg;
  }
  100% {
    z-index: 10;
    transform: translateX(10%) translateY(20%);
    rotate: -1deg;
  }
}

[data-carousel] {
  display: block;
  position: relative;
  aspect-ratio: 615 / 404;
}
[data-carousel] img:first-of-type {
  animation: moveFrontForwards 750ms forwards;
}
[data-carousel] img:last-of-type {
  animation: moveBackForwards 750ms forwards;
}
[data-carousel].dark img:first-of-type {
  animation: moveFrontReverse 750ms;
}
[data-carousel].dark img:last-of-type {
  animation: moveBackReverse 750ms;
}

[data-carousel] img:first-of-type {
  transform: translateX(-10%) translateY(-20%);
  rotate: 1deg;
}
[data-carousel] img:last-of-type {
  transform: translateX(10%) translateY(20%);
  rotate: -1deg;
  position: absolute;
  top: 0;
}

.animated-background {
  background-image: radial-gradient(circle closest-side, #94bed0, #fcfcfc);
  background-size: 80% 300%;
  background-position: center top;
  background-repeat: no-repeat;
}
.dark .animated-background {
  background-image: radial-gradient(circle closest-side, #6b7d7f, #232e2f);
}
